# Python
__pycache__/
*.py[cod]

# 一時保存用ディレクトリ（動画や音声はGitHubに上げない）
temp/
*.mp3
*.wav
*.txt

# Docker
.DS_Store

.env
storage/token.json
storage/credentials.json
storage/client_secrets.json
temp/
__pycache__/
